* {
  margin: 0;
  padding: 0;
}
:root {
  --colortext1: hsl(238, 29%, 16%);
  --colortext2: hsl(14, 88%, 65%);
  --colortext3: hsl(237, 12%, 33%);
  --colortext4: hsl(240, 6%, 50%);
  --colorbackgr1: hsl(273, 75%, 66%);
  --colorbackgr2: hsl(240, 73%, 65%);
  --colordividers: hsl(240, 5%, 91%);
  --fontsizebody: 12px;
  --fontfamily: "Kumbh Sans", sans-serif;
  --fontweight-regular: 500;
  --fontweight-bold: 900;
}

body {
  display: flex;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--fontfamily);
}

.main {
  display: flex;
  width: 70%;
  background-color: var(--colordividers);
  border-radius: 20px;
}

.faq {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  width: 50%;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10%;
  margin-bottom: 2%;
}

.btn-item {
  font-weight: bolder;
  width: 100%;  
}

.imgArrow {
  width: 12px;
  height: 12px;
}


.images {
  width: 50%;
  padding-bottom: 2%;
  position: relative;
}

.image1 {
  width: 100%;
  height: 100%;
  background-image: url(../images/illustration-woman-online-desktop.svg);
  background-repeat: no-repeat;
  background-position-x: -60px;
  background-position-y: 70px;
  background-size: 85%;
  position: absolute;
  z-index: 1;
}

.image1 img {
  position: absolute;
  top: 35%;
  left: -26%;
}

.image2 {
  width: 100%;
  height: 100%;
  background-image: url(../images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position-x: -575px;
  background-position-y: -280px;
  background-size: 195%;
  position: absolute;
}

.image2 img,
.image3 img {
  display: none;
}


.collapsed{
  display: none;
}



@media only screen and (max-width: 1440px) {
  .image1 {
    background-size: 102%;
  }
  .image2 {
    background-size: 200%;
    background-position-y: -180px;
    background-position-x: -395px;
  }

  .image1 img {
    top: 40%;
    left: -38%;
  }

  @media only screen and (max-width: 400px) {
    .main {
      flex-direction: column;
      align-items: center;
      width: 80%;
    }
    .main h1 {
      text-align: center;
    }
    .faq {
      margin-top: 40%;
      margin-bottom: 15%;
      width: 87%;
    }
    .button {
      width: 100%;
    }
    .image1 img {
      display: none;
    }
    .image1 {
      background-image: none;
    }
    .image2 img {
      display: inline-block;
      position: absolute;
      top: 106px;
      right: -30%;
    }

    .image3 img {
      display: inline-block;
    }
  }
}
